<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css"> <!-- Link to your custom stylesheet -->
   <style>
      body {
         font-family: 'Helvetica Neue', Arial, sans-serif;
         margin: 0;
         padding: 0;
         background-image: url('images/end.webp');
         text-align: center;
      }

      .container {
         max-width: 1000px;
         margin: 150px auto;
         padding: 130px;
         background-color: #875a00;
         border-radius: 8px;
         box-shadow: 0 4px 8px rgba(247, 242, 242, 0.1);
      }

      .title {
         color: #d8e6f0;
         font-size: 32px;
         margin-bottom: 20px;
      }

      p {
         color: #ffffff;
         font-size: 18px;
         margin-bottom: 30px;
      }

      img {
         max-width: 100%;
         height: auto;
         border-radius: 8px;
      }
   </style>
   <title>Thank You</title>
</head>
<body>

   <div class="container">
      <h3 class="title">Thank You for Your Purchase!</h3>
      <p>Your order has been successfully processed. We appreciate your choice.</p>
   </div>

</body>
</html>
